/*#contenedor-agregar-lugar {
    background-color: rgba(159, 186, 236, 0.568);
    padding: 5vw;
    margin-bottom: 2vw;
    margin-left: 20vw; 
    margin-right: 20vw;
    font-size: 160%;
}*/


#contenedor-agregar-lugar {
    display: flex;
    flex-direction: column;
    background-color: rgba(159, 186, 236, 0.568);
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: 20vw; 
    margin-right: 20vw;
    font-size: 160%;
    padding-top: 2vw;
}

#form-agregar-lugar {
    font-size: 80%;
}

#boton-registrar-lugar {
    width: 10vw;
    margin: auto;
}