/* Este es un código desprolijo para la parte de Bienvenida del programa,
lo mejor sería hacer que las cosas se centren y probablemente acomodarlo
al resto del CSS sin tener que dejarlo aparte (me explico?).*/

#bienvenido-container{
    height: auto;
    margin: 5vw;
}

#bienvenido-contenido{
    background-color: rgba(7, 91, 248, 0.445);
    height: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 3px white solid;
}

/*#bienvenido-mascota{
    display: block;
    max-width: 100%;
    height: auto; 
}*/ /*Esto me daba problemas, así que cree la clase .responsive-image*/
#bienvenido-mascota {
    transform:scale(0.5);
    align-items: absolute;
}
.responsive-image {
    height: auto;
    width: 100%;
  }

#bienvenido-login-eleccion{
    background-color: transparent;
    border-radius: 10%;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error{
    color:red;
    font-weight: bold;      
}

button{
    width: 100%;
    min-width: 20px;
    max-width: 200px;
    margin: 10px;
    font-size: 100%;
    color: white;
    background-color: #008CBA;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
    line-height: 20px;
}
button:hover {
    background-color: white; 
    color: black;
    transform:scale(1.2);
    border: 3px #008CBA;
  }


#bienvenido-boton-escondido{
    display: none;
}

#bienvenido-boton-mostrado{
    display: block;
}

#login-escondido{
    display: none;
}

#login-mostrado{
    display: block;
}
@media (max-width: 500px) {
    button {
        font-size: 10px;
        line-height: 7px;
    }
    #bienvenido-container {
        margin: 8vw;
    }
}
/* FIN DE CSS EXCLUSIVO DE BIENVENIDA, REFACTORIZAR POR DIOS*/