#categoria-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgba(159, 186, 236, 0.568);
}

#titulo-categoria {
    font-size: 160%;
    font-weight: bold;
    margin: 1vw;
    margin-bottom: 0px;
}

#p-categoria {
    display: flex;
    flex-direction: column;

}
#p-categoria-p {
    margin-left: 10vw;
}

#boton-categoria {
    align-self: flex-end;
    margin: 0px 10vw;
}


