#usuario-informacion {
    background-color: rgba(159, 186, 236, 0.568);
    padding: 5vw;
    margin-bottom: 2vw;
    margin-left: 20vw; 
    margin-right: 20vw;
    font-size: 160%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

#usuario-informacion p {
    font-size: 80%;
}

#submit-guardar-cambios-usuario {
    width: fit-content;
    margin: auto;
    margin-top: 2vw;
}