#formulario-modificar-evento {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 2vw;
    margin-left: 18vw;
    align-items: inherit;
    padding-left: 5vw;
    font-size: 80%;
}

#titulo-datos {
    background-color:  rgba(159, 186, 236, 0.568);
    font-size: 160%;
    margin-left: 5vw;
    margin-right: 5vw;
}

#nom-desc-cet-ub-tip {
    width: 50%;
}

#hor-fech {
    align-items: flex-end;
    width: 50%;

}

#boton-modificar-empresa {
    display: flex;
    width: 10%;
    margin: auto;
}
#formulario-modificar-evento p {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
}

@media (max-width: 800px) {
    #formulario-modificar-evento {
        display: flex;
        flex-direction: column;
        align-items: inherit;
        font-size: 80%;
    }
    
    #titulo-datos {
        background-color:  rgba(159, 186, 236, 0.568);
        font-size: 160%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    
    #nom-desc-cet-ub-tip {
        width: 100%;
    }
    
    #hor-fech {
        align-items: flex-end;
        width: 100%;
    }
    
    #boton-modificar-empresa {
        display: flex;
        width: 10%;
        margin: auto;
    }
    #formulario-modificar-evento p {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
    }
}
