#por-visitar-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: rgba(159, 186, 236, 0.568);
}

#p-por-visitar {
    display: flex;
    width: 100%;
}

h2 {
    padding-left: 0px;
}

#info-lugar-por-visitar {
    margin-left: 10vw;
    width: 70%;
}

#boton-por-visitar {
    align-self: flex-end;
    margin-right: 10vw;
}

