#principal-conteiner {
    display: flex;
}

/*-------EMPRESA-------*/
#principal-contenedor-empresa {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#listar-establecimientos-lugares {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 2vw 5vw 2vw 1vw;
    background-color: rgba(159, 186, 236, 0.568);
    padding: 6px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

#listar-establecimientos-lugares-p{
    text-align: justify;
    padding-left: 1vw;
    padding-right: 1vw;
}
#listar-establecimientos-container{
    margin-top: 2vw;
    margin-bottom: 1vw;
    width: 100%;
}

#modificar-borrar-buttons {
    display: flex; /*si algo se rompe, borrar esto*/
    flex-direction: row;
    margin-top: 2.5vw;
    transform: scale(1.3);
    justify-content: center;
}
hr {
    color: rgb(59, 70, 90);
}
#dialog-agregar {
    margin: 2vw 5vw;
}

#dialog-agregar button {
    padding: 3vw;
    font-size: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}
/*-----TURISTA----------*/
#clima-content {
    width: 250px;
    height: 600px;
    font-size: 24px;
    background-color: black;
    color: white;
}

#listado-categorias {
    display: flex;
    flex-direction: row;
    width: 80%;
    align-items: center;
    justify-content: center;
}

#listado-categorias ul {
    list-style: none;
    width: 50%;
}
#listado-categorias ul li {
    background-color: rgb(7, 91, 248);
    margin: 1vw;
    padding: 1vw;
    line-height: 1vw;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    
}

#listado-categorias ul li a {
    text-decoration: none;
    color: aqua;
    font-size: 150%;
    
}


@media (max-width: 600px) {
    #principal-contenedor-empresa{
        flex-direction: column;
        width: 90vw;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #dialog-agregar {
        margin: 2vw 5vw;
    }
    #dialog-agregar button {
        width: 100%;
    }
    #listar-establecimientos-lugares {
        flex-direction: column;
        width: 80vw;
    }
    #listar-establecimientos-lugares-p{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    #modificar-borrar-button {
        width: 10%;
        align-items: baseline;
    }
}