#usuario{
    background-color: whitesmoke;
    padding: 5px;
}

#usuario-informacion{
    background-color: rgb(33, 140, 211);
}

#danger-zone{
    background-color: tomato;
    color: white;
    padding: 5px;
}

#confirmar-borrar-usuario{
    display: none;
}
