
#usuario{
    display: flex;
    flex-direction: column;
}

#danger-zone{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1vw;
    padding-bottom: 0vw;
    background-color: rgba(247, 107, 107, 0.692);
    font-size: 150%;
}
#confirmacion-borrar-empresa {
    font-size: 80%;
}

#danger-zone button {
    background-color: red;
    line-height: 150%;
    color: white;
}

#confirmar-borrar-usuario{
    display: none;
}
