<!DOCTYPE html>
<html lang="es">
    <!--
        Base es el html padre, del que el resto hereda. No es necesrio que lo toques a menos que vayas a modificar el "nav" (barra de navegación).
    -->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="description" content="Guía turística para Uruguay.">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <title>{{ title }}</title>      
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <script src="{{ url_for('static',filename='script.js') }}"></script>
      </head>
      <body>
          {% if session['logueado']==True %}
          <nav>
              <ul>
                  <li><a href="{{ url_for('index') }}">Logo</a></li>
                  <!--Se pueden poner cosas nuevas aquí si se ve necesario-->
                  <li><a href="{{ url_for('usuario') }}">{{ session['nombre'] }}</a></li>
                  <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
              </ul>
          </nav>
          {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>