{% extends "base.html" %}

{% block content %}
<div id='bienvenido-container'>
    <div id="bienvenido-contenido">
        <div id="bienvenido-mascota">
            <img src="/static/sun.png" class="responsive-image" alt="Imagen de la mascota.">
        </div>
        <div id='bienvenido-login-eleccion'>
            <button onclick="botonesCrearCuenta()">
                Soy nuevo en esta plataforma.
            </button>
            <div id="bienvenido-boton-escondido">
                <a href="{{ url_for('registro', tipo='turista') }}"><!--<a href="/index/registro">-->
                    <button>Soy un turista</button>
                </a>
                <a href="{{ url_for('registro', tipo='empresa') }}">
                    <button>Soy una empresa</button>
                </a>                              
                </button>
            </div>
            <button onclick="botonAlLogin()">
                Ya tengo una cuenta.
            </button>
            {% if session['invalid_user'] %}
            <form id="login-mostrado" action="" method="post">
            {% else %}
            <form id="login-escondido" action="" method="post">
            {% endif %} 
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <p class="error">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </p>
                    {% endif %}
                {% endwith %}
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>            
</div>
{% endblock %}