{% extends "base.html" %}

{% block content %}
<center>
    Categoría:
</center><br>
{% for lugar in lugares %}
    <p>
        {{ lugar['nombre'] }}<br>
        {{ lugar['descripcion'] }}
        {{ lugar['ubicacion'] }}
        {{ lugar['horario'] }}
        {% if lugar['tipo']=='evento' %}
        {{ lugar['fecha'] }}
        {% endif %}
        <a href="{{ url_for('logicaAgregarCategoria', categoria=cat, ide=lugar['ide']) }}"><button> Agregar a "Por visitar"</button></a>
    </p>
{% endfor %}

</form>
{% endblock %}