{% extends "base.html" %}

{% block content %}
<center>
    Categoría:
</center><br>
{% for lugar in lugares %}
    <p>
        {{ lugar['nombre'] }}<br>
        {{ lugar['descripcion'] }}
        {{ lugar['ubicacion'] }}
        {{ lugar['horario'] }}
        {% if lugar['tipo']=='evento' %}
            {{ lugar['fecha'] }}
        {% endif %}
        {% if lugar['ide'] in lista %}
            <a href="{{ url_for('logicaEliminarDePorVisitar', categoria=cat, ide=lugar['ide']) }}"><button> Eliminar de "Por visitar"</button></a>
        {% else %}
            <a href="{{ url_for('logicaAgregarAPorVisitar', categoria=cat, ide=lugar['ide']) }}"><button> Agregar a "Por visitar"</button></a>
        {% endif%}
    </p>
{% endfor %}
</form>
{% endblock %}