{% extends "base.html" %}

{% block content %}
<section id="usuario">
    <article id="usuario-informacion">
        <center>Datos de la cuenta<br/><br/></center>
        <form action="" autocomplete='off' method="post">
            {{ form.hidden_tag() }}
            <p>
                Email: {{ session['email'] }}<br>
            </p>
            <p>
                {{ form.nombre.label }}: {{ form.nombre(size=32, value=session['nombre'], required='required') }}<br>
            </p>
            <p>
                {{ form.password.label }}: {{ form.password(size=32, value=contrasena, required='required') }}<br>
            </p>
            <p>
                Tipo de cuenta: {{ session['tipo'] }}
            </p>
            {% if session['tipo']=='turista' %}
            <p>
                {{ form.edad.label }}: {{ form.edad(size=32, value=edad, required='required')}}<br>
            </p>
            <p>
                {{ form.pais.label }}: {{ form.pais(size=32, value=pais, required='required') }}<br>
            </p>
            {% else %}
            <p>
                {{ form.nombreEmpresa.label }}: {{ form.nombreEmpresa(size=32, value=nombreEmpresa, required='required') }}<br>
            </p>
            {% endif %}
            <div id="submit-guardar-cambios-usuario">
                <p>{{ form.submit() }}</p>
            </div>
        </form>
    </article>
</section>
{% endblock %}