{% extends "base.html" %}

{% block content %}
<div id="por-visitar-content">
    {% if not lista|length == 0 %}
        {% for lugar in lista %}
        <div id="p-por-visitar">
            <div id="info-lugar-por-visitar">
                <h2>{{ lugar['nombre'] }}</h2><br>
                {{ lugar['descripcion'] }}
                {{ lugar['ubicacion'] }}
                {{ lugar['horario'] }}
                {% if lugar['tipo']=='evento' %}
                {{ lugar['fecha'] }}
                {% endif %}
            </div>
            <div id="boton-por-visitar">
                <a href="{{ url_for('logicaEliminarDePorVisitar', categoria=cat, ide=lugar['ide'], dato='extra') }}"><button> Eliminar de "Por visitar"</button></a>
            </div>
        </div>
        <div class="hrs"><hr></div>
        {% endfor %}
        {% else %}
            <p>No tienes lugares en tu lista "Por visitar".</p>
    {% endif %}
    </form> 
</div>
{% endblock %}