{% extends "base.html" %}

{% block content %}
{% if session['tipo']=='turista' %}
<!--VENTANA TURISTA-->
<div id="clima-content">
    <div id="clima-actual">
        Clima
    </div>
    <div id="clima-semana">

    </div>
</div>
<div id="listado-categorías">
    <!--Ver si se abre otra ventana al elegir categoria o se carga aquí-->
    <ul>
        <li>Categoria</li>
        <li>Categoria</li>
        <li>Categoria</li>
        <li>Categoria</li>
    </ul>
</div>
{% else %}
<!--VENTANA EMPRESA-->
<div id="dialog-agregar">
    <button>
            <a href="{{ url_for('agregar_lugar') }}">Agregar</a>
    </button>
</div>
<div id="listar-establecimientos-lugares">
    {% for lugar in lugares %}
        <p>
            {{ lugar['nombre'] }}
            {{ lugar['descripcion'] }}
            {{ lugar['ubicacion'] }}
            {{ lugar['tipo'] }}
            {{ lugar['horario'] }}
            {{ lugar['fecha'] }}
        </p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}