{% extends "base.html" %}

{% block content %}
<section id="usuario">
    <article id="usuario-informacion">
        <center>Datos del usuario:</center><br/><br/>
        <p>
            Nombre: {{ session['nombre'] }}
        </p>
        <p>
            Email: {{ session['email'] }}
        </p>
        <p>
            Tipo de cuenta: {{ session['tipo'] }}
        </p>
        <p>
            <a href="{{ url_for('modificarUsuario') }}"><button>Modificar usuario</button></a>
        </p>
    </article>
    <article id="danger-zone">
        <center>
            ¿DESEAS ELIMINAR TU USUARIO? <strong>ESTA ACCION NO PUEDE DESHACERSE</strong><br/>
            <button onclick="confirmarBorrarUsuario()">BORRAR USUARIO</button>
            <div id="confirmar-borrar-usuario">
                ¿DESEAS ELIMINAR TU USUARIO DEFINITIVAMENTE?
                <a href="{{ url_for('logout', id_usuario=session['id_usuario']) }}"><button id="confirmacion-borrar-empresa">QUIERO BORRAR MI USUARIO DEFINITIVAMENTE</button></a>
            </div>
        </center>
    </article>
</section>
{% endblock %}